<!-- Add Application Modal -->
<div id='addApplication' class='add-application modal hide fade'>
    <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>close</button>
        <h1 id='addApplicationLabel'>Add A New Application</h1>
    </div>

    <div class='modal-body'>
        <h2>Setup</h2>

        <div class='hero-unit'>
            <form id='addApplicationForm' class='clearfix'>
                <fieldset class='application-name control-group'>
                    <label for='applicationName' class='control-label'>Application Name:</label>
                    <input type='text' id='applicationName' name='applicationName'>
                </fieldset>
            </form>
        </div>
    </div>
    <div class='modal-footer'>
        <button class='setApplication btn btn-primary'>Save</button>
    </div>
</div>