<!-- Add Monitor Modal -->
<div id='addMonitor' class='add-monitor modal hide fade'>
    <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>close</button>
        <button type='button' class='back' aria-hidden='true'>back</button>
        <h1 id='addMonitorLabel'>Add A New Monitor</h1>
    </div>
    <div class='content-wrap'>
    </div> 
</div>