<div class='alert alert-{{#if status}}{{status}}{{else}}success{{/if}}'>
    <!--<button type='button' class='close' data-dismiss='alert'>x</button>-->
    <strong class='alert-attention'>{{attention}}</strong> {{message}}
</div>