<div class='alert-timeline accordion'>
    <div class='accordion-group'>
        <div id='alertDrawer' class='accordion-body collapse'>
            <div class='accordion-inner'>
                
            </div>
        </div>
    </div>
    <div class='accordion-heading'>
        <a class='accordion-toggle polygon tab' data-toggle='collapse' href='#alertDrawer'>
            <b class='trapezoid size'></b>
            <p><i class='icon-bell-alt'></i></p>
        </a>
    </div>
</div>