<section class='header clearfix'>
    <div class='clearfix'>
        <span class='current-application-title'>
            <h2>{{header.title}}</h2>
            <h3>{{header.subtitle}}</h3>
        </span>
        <span class='date'>Today's Date <strong>{{header.date}}</strong></span>
    </div>
</section> 