<div class='footer-action-bar navbar navbar-fixed-bottom'>
    <div class='navbar-inner'>
        <ul class='nav pull-right'>
        {{#secondary.nav.dashboard}}
            <li><a href='#addMonitor' role='button' data-toggle='modal' data-keyboard='false'>Add a new monitor</a></li>
        {{else}}
            <li><a href='#addApplication' role='button' data-toggle='modal' data-keyboard='false'>Add a new application</a></li>
        {{/secondary.nav.dashboard}}
        </ul>
    </div>
</div>