@main("Rearview | LivingSocial") {

<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>LivingSocial | Rearview Test</title>
        <meta charset='utf-8' />
        <meta name='description' content='Real-Time Monitoring'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta name='robots' content='noindex'>
        <link href='/public/login/icons/rearview.svg' rel='icon' type='image/png' />
        <link href='/public/login/icons/icons/tools/rearview.svg' rel='apple-touch-icon' type='image/png' />

        <!-- include the Jasmine assets for running in an HTML page. -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public", "vendor/jasmine/lib/jasmine-1.3.1/jasmine.css")"></link>
        <script type="text/javascript" src="@routes.Assets.at("/public", "vendor/jasmine/lib/jasmine-1.3.1/jasmine.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("/public", "vendor/jasmine/lib/jasmine-1.3.1/jasmine-html.js")"></script>
    </head>
    <body>
    <script type="text/javascript">
        var require = {
            paths: {
                "domReady" : "@routes.Assets.at("/public", "vendor/require/plugins/domready/domready")",
                "js"       : "@routes.Assets.at("/public", "js")",
                "test"     : "@routes.Assets.at("/public", "test")"
            }
        };
    </script>
    <script data-main="@routes.Assets.at("/public", "js/main")" src="@routes.Assets.at("/public", "vendor/require/js/require.js")"></script>
    <script type="text/javascript">
        require(
            [
                "domReady!",
                "test/spec/model/user",
                "test/spec/model/application",
                "test/spec/model/job",
                "test/spec/view/base"
            ],
            function( document ) {
                // Set up the HTML reporter - this is reponsible for
                // aggregating the results reported by Jasmine as the
                // tests and suites are executed.
                jasmine.getEnv().addReporter(
                    new jasmine.HtmlReporter()
                );
                // Run all the loaded test specs.
                jasmine.getEnv().execute();
            }
        );
    </script>
    </body>
</html>
}
